{% extends 'base.html' %}
{% block title%}
  {{title}}
{% endblock %}
{% block content %}
{% include 'posts/includes/paginator.html' %}
<h1>Все посты пользователя {{ author }} </h1>
<h3>Всего постов: {{ cnt }} </h3> 
{% for post in page_obj %}
<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p> 
</article>

{% if post.group %}
  <a href="{% url 'posts:group_list' slug=post.group.slug %}">
    <button class="btn btn-primary">
      все записи группы <i><b>{{post.group}}</b></i>
    </button> 
  </a>
{% else %}
  <span style="color:red"> бля у поста нет группы </span>
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}

{% include 'posts/includes/paginator.html' %}

{% endblock %}   